html, body {
    height: 100%;
    margin: 0;
  }
  
  #backgroundPicture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  
  .login-content-container {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #ffffff;
    padding-top: 20%;
    height: 100%;
  }
  